/* navigation bar */

#links {

	/* allow for positioning the splash text on the scale of 0...100% */
	position: relative;

	text-align: center;
	border: 1px dotted black;

	background-color: darkred;
	background-image: url("fire.png");
	background-size: contain;

	box-shadow: 0px 0px 10px 1px black;
	
}

#links > :not(#splashContainer, nav) {
	text-shadow: 0px 0px 4px white;
}

nav a {
	color: gold;
	text-shadow: 0px 0px 4px black;
}

#links * {
	margin-top: 0px;
	margin-bottom: 0px;
}

@keyframes splashAnimation {
	from {
		font-size: .5em;
		transform: rotate(-20deg);
	}
	
	to {
		font-size: 1.5em;
		transform: rotate(20deg);
	}
}

#splashContainer {
	position: absolute;
	
	/* https://stackoverflow.com/a/41129715 */
	display: flex;
	
	width: 400px;
	height: 120px;
	
	margin-top: -60px;
	right: 2%;
	
	/*background-color: blue;*/
}

#splash {
	margin: auto;

	animation: splashAnimation 0.5s infinite alternate;
	
	font-family: "Comic Sans MS";
	color: yellow;
}

#pageBackground_animationCanvas {
	position: fixed;

	width: 100%;
	height: 100%;

	left: 0;
	top: 0;

	image-rendering: pixelated;
}


/* end navigation bar */


#pageBackground_animationDebug {
	position: fixed;
	z-index: 3;
}

#top {
	position: relative;
	z-index: 2;
}

.section {
	width: 50%;

	margin: 0 auto;

	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;

	background-color: goldenrod;

	box-shadow: 0px 0px 10px 1px black;
}

.section h1 {
	text-align: center;
}

.section img {
	display: block;
	margin: 0 auto;
}

.section img, .animationCanvas {
	max-width: 100%;
	height: auto;
}

.centerdiv {
	width: fit-content;
	margin: 0 auto;
}

/* source links */
.sourcedImage {
	text-align: right;
}

.animationCanvas {
	outline: 1px dotted black;
}

.animationDebug {
	display: block;
	margin-top: 0px;
}

body {
	background-color: black;
}

code {
	background-color: lightgrey;
	color: red;
}

hr {
	width: 40%;
	height: 1px;

	border: none;

	background-color: rgba(0, 0, 0, 0.5);
}


/* tables */

table {
	margin: 0 auto;
	border: 1px solid black;
	
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: mediumslateblue;
}

tr:nth-child(odd) {
	background-color: cornflowerblue;
}

tr > * {
	padding: 4px;
	border: 1px solid black;
}

th {
	background-color: royalblue;
}

#tableCorner {
	background-color: cornflowerblue;
}

/* end tables */


[data-include] {
	display: none;
}

@media (max-width: 750px) {
	#splashContainer {
		display: none;
	}

	.section {
		width: auto;
	}
}
